<% action = (cat.persisted? ? cat_url(@cat) : cats_url) %>
<% method = (cat.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <label for="cat_name">Name: </label>
  <input type="text" id="cat_name" name="cat[name]" value="<%= @cat.name %>">
  <br>
  <input type="radio" id="male" name="cat[sex]" value="M" <%= @cat.sex == "M" ? "checked" : "" %> >
  <label for="cat_sex">Male </label>
  <input type="radio" id="female" name="cat[sex]" value="F" <%= @cat.sex == "F" ? "checked" : "" %> >
  <label for="cat_sex">Female </label>
  <br>

  <select name="cat[color]" id="cat_color">
    <option value="Choose a color" disabled selected>Choose a color</option>
    <option value="White">White</option>
    <option value="Gray">Gray</option>
    <option value="Orange">Orange</option>
    <option value="Black">Black</option>
    <option value="Brown">Brown</option>
  </select>
  <br>

  <label for="cat_birth_date">Select birth date </label>
  <input type="date" id="cat_birth_date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  <br>

  <label for="cat_description">Description </label>
  <textarea id="cat_description" name="cat[description]" value="<%= @cat.description %>"></textarea>

  <br>
  <input type="submit" value="Create cat">
</form>
